html {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: khaki;
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h2 {
  font-size: 32px;
  color: white;
  font-weight: bold;
}

.green {
  background: mediumspringgreen;
}

.coral {
  background: lightcoral;
}

.skyblue {
  background: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
